<div class="home-container">
  <div class="overlay"></div>

  <div class="home-content">
    <img src="assets/iisa-logo.png" alt="IISA Logo" class="logo" width="200" />
    <h1 class="welcome-title"> Welcome to IISA</h1>
    <p class="welcome-subtitle">
      Join the first journey of the fictional Israeli space agency! </p>

    <div class="welcome-title">
      <button mat-raised-button color="accent" class="register-btn" routerLink="/registration">
        <mat-icon>rocket_launch</mat-icon>
        To register, click here</button>
    </div>
    <button mat-raised-button color="accent" class="register-btn" routerLink="/add-edit-register">
      <mat-icon>rocket_launch</mat-icon>
      To edit an existing candidate, click here. </button>
  </div>
</div>