<div class="home-container" >
  <div class="overlay"></div>

  <div class="home-content">
    <img src="assets/iisa-logo.png" alt="IISA Logo" class="logo"width="200" />
    <h1 class="welcome-title"> ברוכים הבאים ל־IISA</h1>
    <p class="welcome-subtitle">
      הצטרפו למסע הראשון של סוכנות החלל הדמיונית הישראלית! 
    </p>


    <button mat-raised-button color="accent" class="register-btn" routerLink="/register">
      <mat-icon>rocket_launch</mat-icon>
      להרשמה לחצו כאן
    </button>
  </div>
</div>
