<div class="registration-container">
  <mat-card class="registration-card">
    <mat-card-header>
      <div class="header-content">
        <div class="header-text">
          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Enter your email address to access registration details.</mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="registration-form">
        <div class="form-row">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Invalid email
            </mat-error>
          </mat-form-field>


        </div>

        <div class="form-actions">



          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || isLoading()"
            class="submit-btn">
            <mat-spinner *ngIf="isLoading()" diameter="20" class="spinner"></mat-spinner>
            <mat-icon *ngIf="!isLoading()">search</mat-icon>
<span>Search for registration</span>
 </button>


        </div>
      </form>
      <div class="back-button-container" style="margin-top: 16px;">
        <button mat-stroked-button routerLink="/home">
          <mat-icon>arrow_back</mat-icon>
          Back to list
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>